@media (max-width: 750px) {
  body {
  }
}

.container {
  display: flex;
  /* width: 26.25rem;
  height: 47.5rem; */
  height: 100%;
  width: 100%;
}
.button {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 8px;
  border: 0px;
  background-color: #ffffff;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #9593ff;
  width: 3rem;

  align-items: center;
}

.text {
  width: 26.25rem;
  padding-left: 0.5rem;
  background-color: #fff9e5;
}

.title {
  font-size: 18px;
  width: 11.5rem;
  height: 1.25rem;
  color: #9593ff;
}

.paragraph {
  width: 23.25rem;
}
