.container {
  display: flex;
  /* width: 26.25rem;
  height: 47.5rem; */
  height: 100%;
  width: 100%;
}
.button {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 8px;
  border: 0px;
  background-color: #ffffff;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #9593ff;
  max-width: 58px;
  width: 100%;
  align-items: center;
}

.text {
  width: auto;
  /* width: 26.25rem; */
  padding-left: 0.5rem;
  background-color: #fff9e5;
}

.title {
  font-size: 18px;
  width: 100%;
  height: 1.25rem;
  color: #9593ff;
}

.paragraph {
  width: 100%;
}
.menu_item {
  display: none;
}

@media (min-width: 752px) {
  .button {
    margin-top: 10px;
    width: 9.25rem;
    height: 2rem;
    border-radius: 8px;
    border: 0px;
    background-color: #ffffff;
    justify-content: flex-start;
  }
  .menu_item {
    display: flex;
  }
  .dd {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    background-color: #9593ff;
    min-width: 180px;
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .menu {
    display: flex;
    flex-direction: column;
    background-color: #9593ff;
    min-width: 320px;
    align-items: center;
    border-radius: 8px;
  }
}
